
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">
    <!--begin::Aside-->
    <app-sidebar></app-sidebar>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Header-->
      <app-topbar></app-topbar>
      <!--end::Header-->
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
          <!--begin::Container-->
          <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
              <!--begin::Title-->
              <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">dashboard
                  <span class="h-20px border-gray-400 border-start ms-3 mx-2"></span>
                  <ol class="breadcrumb text-muted fs-6 fw-semibold">

                    <li class="breadcrumb-item pe-3 ">Analisis</li>
                  </ol>
                </h1>
              <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">


              <!--end::Button-->
            </div>
            <!--end::Actions-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
          <!--begin::Container-->
          <div id="kt_content_container" class="container-xxl">

              <mat-tab-group class="custom-tabs">
                  <mat-tab  label="Segmentación Clientes">
                    <app-index-segmentacion></app-index-segmentacion>
                  </mat-tab>
                  <mat-tab label="Predicion de Ventas">
                    <app-regresion></app-regresion>
                  </mat-tab>
                  <mat-tab label="Prediccion de productos mas vendidos por categorias">
                    <app-lineal></app-lineal>
                  </mat-tab>
                  <mat-tab label="Prediccion de los dias restantes de stcok de inventario">
                    <app-arbol></app-arbol>
                  </mat-tab>
                </mat-tab-group>

          </div>
          <!--end::Container-->
        </div>
        <!--end::Post-->
      </div>
      <!--end::Content-->

    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
