
 <!--end::Aside-->
<mat-tab-group>
    <mat-tab label="Segmentación Clientes">
      <app-index-segmentacion></app-index-segmentacion>
    </mat-tab>
    <mat-tab label="Modelo 1">
      <!-- componente de Árboles -->
    </mat-tab>
    <mat-tab label="Modelo 2">
      <!-- componente de Regresión -->
    </mat-tab>
    <mat-tab label="Modelo 3">
      <!-- componente de Recomendación -->
    </mat-tab>
    <mat-tab label="Modelo 4">
      <!-- componente de Clustering u otro -->
    </mat-tab>
  </mat-tab-group>
  