
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">
    <!--begin::Aside-->
    <app-sidebar></app-sidebar>
    <!--end::Aside-->
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
      <!--begin::Header-->
      <app-topbar></app-topbar>
      <!--end::Header-->
      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
          <!--begin::Container-->
          <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
              <!--begin::Title-->
              <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">dashboard
                  <span class="h-20px border-gray-400 border-start ms-3 mx-2"></span>
                  <ol class="breadcrumb text-muted fs-6 fw-semibold">

                    <li class="breadcrumb-item pe-3 ">Analisis</li>
                  </ol>
                </h1>
              <!--end::Title-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">


              <!--end::Button-->
            </div>
            <!--end::Actions-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
          <!--begin::Container-->
          <div id="kt_content_container" class="container-xxl">



            <ul  class="nav nav-tabs custom-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                  type="button" role="tab" aria-controls="home" aria-selected="true">Segmentación Clientes</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="sales-tab" data-bs-toggle="tab" data-bs-target="#sales"
                  type="button" role="tab" aria-controls="sales" aria-selected="false">Predicion de Ventas</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="products-tab" data-bs-toggle="tab" data-bs-target="#products"
                  type="button" role="tab" aria-controls="products" aria-selected="false">Prediccion de productos mas vendidos por categorias</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="inventory-tab" data-bs-toggle="tab" data-bs-target="#inventory"
                  type="button" role="tab" aria-controls="inventory" aria-selected="false">Prediccion de los dias restantes de stock de inventario</button>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <app-index-segmentacion></app-index-segmentacion>
              </div>
              <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                <app-regresion></app-regresion>
              </div>
              <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
                <app-lineal></app-lineal>
              </div>
              <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
                <app-arbol></app-arbol>
              </div>
            </div>

          </div>
          <!--end::Container-->
        </div>
        <!--end::Post-->
      </div>
      <!--end::Content-->

    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
